<h1> - RESTAURANTS - </h1>

<div class="container">

  <p><%= link_to "Add a new restaurant", new_restaurant_path %></p>

  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= restaurant.url %>);">
        <div class="card-category">
          <%= link_to "Edit", edit_restaurant_path(restaurant) %>
          <%= link_to "Remove", restaurant_path(restaurant), method: :delete %>
        </div>
        <div class="card-description">
          <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
          <p><%= "#{restaurant.address}" %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
